# created by virtualenv automatically
venv/
LearningProjects/ClothesRecognition/Plotting Data/
LearningProjects/ClothesRecognition/trainingFiles/
/LearningProjects/ImageCategorisation/Chess-image-dataset/