# created by virtualenv automatically
venv/
LearningPLearningProjects/ImageCategorisation/Chess-image-dataset/
LearningProjects/ClothesRecognition/Plotting Data/
LearningProjects/ClothesRecognition/trainingFiles/